.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-top-auto {
    margin-top: auto !important;
}

.margin-right-30 {
    margin-right: 30px !important;
}

.margin-top-40 {
    margin-top: 40px !important;
}

.student-select-icon {
    display: flex;
}

.appBar {
    background-color: #6e83f3 !important;
}

.appBar-width {
    width: -webkit-fill-available !important;
}

.save-fontsize {
    font-size: initial !important;
}

.padding-30 {
    padding: 30px !important;
}

.Table-loader {
    margin-top: 30px !important;
    justify-content: center;
}   

.loading-bar {
    margin-right: auto;
    margin-left: auto;
    width: 180px;
}
