.print-paper{
    margin:70px 40px;
}

.print-form-label-value-outer-box{
    padding: 5px;
    display: flex;
}

.print-form-label-box{ 
    font-size: 18px;
    line-height: 26px;   
    opacity: 0.6;
} 

.print-form-sub-paper{
    margin: 20px;
    padding: 20px;
}

.print-form-outer-box{
    padding-left: 15px;
    margin: 10px 0px;
}

