.hours-title{
    font-size:11px!important;
}

.hours-value{
    font-size:30px!important; 
    line-height: 25px!important;
    font-weight: 300!important;
}

.between-hour-minutes-line{
    width: 2px!important; 
    background-color: #000000!important; 
    margin: 0px 6px!important; 
}

.time-outer-box{
    display: flex;
    justify-content: center;
}

.word-break-initial{
    word-break: initial;
}
