# Python
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/.venv*/
**/venv*/
**/ENV/
**/.env

# Node
**/node_modules/
**/dist/
**/build/
**/.eslintcache

# OS
**/.DS_Store
**/Thumbs.db

# Secrets and Credentials
**/google_credentials.json
**/local.py
**/production.py
**/*.pem
**/*.key
**/*.pub
secrets.py
.env*

# Git
.git
**/.git/
