{% load humanize %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fees Receipt</title>
    <style>
        @page { 
            size: A4 landscape;
        }
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th,
        td {
            padding: 5px;
            text-align: left;
        }
        .feereceipt-box{
            border: 1px solid #000000 !important;
            padding: 5px 7px;
            display: inline-block;
        }
        .noborder{
            border: 0px solid;
        }
        .bold{
            font-weight: bold
        }
        .line-height{
            line-height: 1.5;
        }
        .text-center{
            text-align:center;
        }
        {% comment %} .rotate {transform: rotate(90deg);} {% endcomment %}
    </style>
</head>
<body style="transform: rotate(90deg);display:flex;">
    {% for count in number_of_copies %}
    {%if forloop.counter == 1 %}
    <div class='rotate' style="margin-top: -55px;margin-left:370px">
    {%else%}
    <div class='rotate' style="margin-top: -55px;margin-left: 100px">
    {%endif%}
        <div style='display:flex;justify-content:center;padding-right:30px;width:500px;'>
            <div style='text-align:center'>
                <div style="font-size: 22px;font-weight: bold;">
                    {{ institute.name }} </br>
                </div>
                {% if institute.trust_name %}
                    <span style='font-size: 13px'>{{ institute.trust_name }}</span>
                {% endif %}
                <div style="line-height: 25px;font-size:14px">
                    {{ institute.address }}{% if institute.city %}, {{ institute.city }}{% endif %}
                    {% if institute.pincode %} - {{ institute.pincode }}{% endif %} </br>
                </div>
            </div>
        </div>
    <div style="text-align: center;width:500px;">RECEIPT</div>
    <table style="width: 500px">
        <tr>
            <td class='noborder bold line-height' style='width:60%;vertical-align:top'>
                Adm No : {{admission_num|title}} </br>
                Name : 
                {% if fee_collection.student_detail.first_name %}{{fee_collection.student_detail.first_name}}{% endif %}
                {% if fee_collection.student_detail.middle_name %}{{fee_collection.student_detail.middle_name}}{% endif %}
                {% if fee_collection.student_detail.last_name %}{{fee_collection.student_detail.last_name }}{% endif %}
            </br>
            Parent : {%if fee_collection.student_detail.student_parent.parent.father_name %}{{fee_collection.student_detail.student_parent.parent.father_name|upper}}
            {%else%} {%if fee_collection.student_detail.student_parent.parent.mother_name %} {{fee_collection.student_detail.student_parent.parent.mother_name|upper}} {%endif%}
            {%endif%}
                <td class="noborder bold" style='text-align:right'>
                Rec No: {{fee_collection.receipt_num|title}} <br/>
                Date:  {{fee_collection.transaction_date}} <br/>
                Class : {{fee_collection.standard_name}}/{{fee_collection.enrollment_data.section_name}}</br>
                </td>
            </td>
        </tr>
    </table>
    <table style="width: 500px;min-height:400px">
        <thead>
            <tr>
                <th width='10%'>Sl.No</th>
                <th width='60%' style="text-align:center">Particulars</th>
                <th width:'30%' style="text-align:center">Amount(₹)</th>
            </tr>
        </thead>
        <tbody style='vertical-align:top'>
        <tr>
            <td>{% for fee in fee_collection.payment_detail %}
                {{forloop.counter}}</br>{% endfor %}
            </td>
            <td>{% for fee in fee_collection.payment_detail %}{{fee.fee_type_name}}</br>{% endfor %}</td>
            <td style='text-align:right'>{% for fee in fee_collection.payment_detail %}
                {{fee.amount_paid|floatformat|intcomma }}</br>{% endfor %}</td>
        </tr>
        <tr style='height:30px'>
             <td colspan="2" style='text-align:right'>TOTAL </td>
             <td style='text-align:right'> ₹ {{ fee_collection.total_amount | floatformat |intcomma}}</td>
        </tr>
        </tbody>
    </table>
    <table style="width: 500px" class="noborder" colspan="2">
    <tr class="noborder">
        <td class="noborder">
        ({{amount_in_words_rupees_first|title}} Only )<br/>
        {% if fee_collection.mode_of_payment %}{{fee_collection.mode_of_payment}}{% endif %}
        {%if fee_collection.payment_ref_num %} (Transaction Id - {{fee_collection.payment_ref_num}}) {% endif %}<br/>
    </td>
    <tr>
    </table>
    <table style="width:500px;margin-top:50px" class="noborder">
    <td style="text-align:right;width:500px;" class="noborder">Receiver's Signature</td>
    </table>
</div>
{%  if forloop.counter|divisibleby:"2" and not forloop.last%}
    <div style="page-break-after: always;"></div>
    {% endif %}
{% endfor %}
</body>
</html>