{% load humanize %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fee receipt</title>
    <style>
      * {
        padding: 5px;
        margin: 0px;
      }
      @page {
        size: A4;
      }
      table,
      tr,
      td {
        border: 1px solid black;
        width: 100%;
        border-collapse: collapse;
      }
     
      .authsign {
        height: 70px;
        padding-left: 70%;
        margin-top: auto;
        vertical-align: bottom;
      }
      .container {
        font-family: sans-serif;
        font-weight: bold;
        border: 1px solid black;
      }
      .dot-line {
        border-top: 1px dotted black;
      }
      .fee {
        text-align: center;
        font-weight: bold;
        text-decoration: underline;
      }
    .noborder{
        border: 0px solid;
    }
    </style>
  </head>
<body>

    <div class="container">
       
        <div style='display:flex;'>
            <div style="position:absolute;left:40px">
                {% if institute.logo.file.url %}
                    <img src={{institute.logo.file.url}}
                    style="width: 90px;height: 90px;"/>
                {% endif %}
            </div>
            <div style="text-align: center;margin-left:auto;margin-right:auto">
                {% if institute.trust_name %}
                            <span>{{ institute.trust_name }}</span>
                        {% endif %}
                <div style="font-size: 35px;padding-left:20px;font-weight: bold;margin-top:5px">
                    {{institute.name}}
                </div>  
                <div style="line-height: 20px;font-size:14px;margin-top:5px">
                    {{ institute.address }}{% if institute.city %}, {{ institute.city }}{% endif %}
                    {% if institute.pincode %} - {{ institute.pincode }}{% endif %} </br>
                    Office No: {{ institute.tel_num }}
                            {% if institute.tel_num_2 %}
                            , {{ institute.tel_num_2 }} {% endif %}
                </div>
            </div>
        </div>
        
        
        <div class="fee">FEE RECEIPT</div>

            <div style="display:flex;justify-content:space-between">
                <div style="width: 36%" class="noborder">
                    Name : {% if fee_collection.student_detail.first_name %}{{fee_collection.student_detail.first_name}}{% endif %}
                    {% if fee_collection.student_detail.middle_name %}{{fee_collection.student_detail.middle_name}}{% endif %}
                    {% if fee_collection.student_detail.last_name %}{{fee_collection.student_detail.last_name }}{% endif %}
                </div>
                <div style="width: 18%" class="noborder">
                    Class : {{fee_collection.standard_name}}
                </div>
                <div style="width: 18%" class="noborder">
                    Date : {{fee_collection.transaction_date}}
                </div>
                <div style="width: %" class="noborder">
                    Bill No : {{fee_collection.receipt_num}}
                </div>
            </div>

        
        <table>
            <tr>
                <td style="padding: 5px; width: 10%;">Sl.No</td>
                <td style="padding: 5px; width: 70%;">Fee Collection Type</td>
                <td style="padding: 5px; width: 20%;">Fee Paid</td>
            </tr>
            {% for fee in fee_collection.payment_detail %}
            <tr>
                <td style="padding: 5px; width: 10%; font-weight: normal;">{{forloop.counter}}</td>
                <td style="padding: 5px; width: 70%; font-weight: normal;">{{fee.fee_type_name}}</td>
                <td style="padding: 5px; width: 20%; font-weight: normal;">{{fee.amount_paid|floatformat|intcomma }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td style="padding: 5px; width: 70%; text-align: right; font-weight: normal;" colspan="2">Total Amount Paid :</td>
                <td style="padding: 5px; width: 20%; font-weight: normal;">{{ fee_collection.total_amount | floatformat |intcomma}}</td>
            </tr>
            <tr>
                <td style="padding: 5px; width: 70%; text-align: right; font-weight: normal;" colspan="2">Balance As on Date :</td>
                <td style="padding: 5px; width: 20%; font-weight: normal;">{{ student_fee_summary.total_pending_amount | floatformat |intcomma}}</td>
            </tr>
            <tr>
                <td style="font-weight: normal; vertical-align: baseline;" colspan="2">Received Rupees : {{amount_in_words|title}}</td>
                <td style="font-weight: normal; height: 55px; text-align: center; vertical-align: bottom;">Signature</td>
            </tr>
        </table> <br>
                
    </div>
    <div style="display:flex">
        <div align="left">Receipt Generated by : {{fee_collection.collected_by|title}} {{ today }}</div>
        <div style='margin-left:auto'>Powered By Edubricz</div>
    </div>
  
</body>
</html>
