
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fees Receipt</title>
    <style>
        @page { size: A4 }
        body {
        padding: 0;
        margin:20px;
        margin-top: -5px;
      }
      html, body {
        padding:0;
        }
     table,
        th,
        td {
            border: 1px solid rgb(0, 0, 0);
            border-collapse: collapse;

        }
        th,
        td {
            text-align: left;
            border: none;
            
        }
        .outer-table {
            width: 100%;
            border: 1px solid rgb(0, 0, 0);
            border-collapse: collapse;
            line-height: 1.5;
            margin: 0 auto;
        }

        .feereceipt-box{
            border: 1px solid #000000 !important;
            display: inline-block;
            
        }
        .feereceipt-box {
            border: 1px solid #000; 
            display: inline-block;
            background-color: #333333;
            color: #fff;
            
        }
        #innertable {
            border: 1px solid black; 
        }

        #innertable th, #innertable td {
            border: 1px solid black; 
            text-align: left;
        }  
    </style>
</head>

<body >
<div>
    {% for count in number_of_copies %}
    {% with count_loop=forloop %}
    <div>
    {% for fee_type in fee_collection.payment_detail_fee_type %}
    {%if fee_type.fee_type_codename == 'management' %}
    {% with fee_type_loop=forloop %}
    {%  if count_loop.counter|divisibleby:"2" %}
        <div style="margin-top: 25px"></div>
        <div style="text-align:right;margin-right:10px">Student Copy</div>
    {% else %}
        <div style="text-align:right;margin-right:10px">Office Copy</div>
    {% endif %}
    <div style='height:147mm'>
        <table style="width: 100%; border: 1px solid black; border-collapse: collapse; position: relative;height: 150px;border-bottom: none;">
            <tr>
                <td style="position: relative; width: 20%;">
                    {% if institute.logo.file.url %}
                     <img src={{institute.logo.file.url}} 
                         alt="Institute Logo" 
                         style="position: absolute; left: 65px; top: 50%; transform: translateY(-50%); width: 185px; height: 130px;">
                    {% endif %}
                </td>
                <td style="text-align: center; font-size: 23px; font-weight: bold; text-transform: uppercase; line-height: 1.2; width: 100%;">

                    <div style="margin-left: -20px;left:-20px;font-size: 20px;"></div>
                    <div>SGH COMPOSITE BOYS HIGH SCHOOL</div>
                    
                    <div style="font-size: 16px; margin-top: 5px;text-transform: none">
                        (Recognised by Government of Karnataka, Estd. 1993)                        
                    </div>
                    <div style="font-size: 12px; margin-top: 5px; text-transform: none; text-align: center; white-space: nowrap;">
                        10th Cross, Hombegowda Nagar, Bangalore – 560 027
                    </div>
                    <div style="font-size: 14px; margin-top: 5px; text-transform: none;">
                        Phone No:2222 0620
                    </div>
                </td>
            </tr>
            
            
        </table>  
        <div style="padding-left: 10px;border:1px solid black;border-top: none;">
            <b>Receipt No : </b> {% if fee_collection.receipt_num %}{{fee_collection.receipt_num}}{% endif %}
            <span style="text-align: center;font-weight: bold;padding-left: 170px;"> {{fee_type.fee_type_name|upper}}</span>
        </div> 
 
        <table class="outer-table"  style="width: 100%; line-height:1.5; border-collapse: collapse;border: 1px solid black;border-top:none;border-bottom: none;">          
            <tbody>
                <tr>
                    <td colspan="2" style="text-align:center; font-size:23px; font-weight:bold; border-bottom: none;border-right:1px black solid;">
                        <div class="feereceipt-box">Fee Receipt</div>
                    </td>
                </tr>
                <tr>
                    <td style="border: none; padding: 10px;font-size: 18px;">
                        <div>
                            <b>Student Name :</b> 
                            {% if fee_collection.student_detail.first_name %}{{fee_collection.student_detail.first_name}}{% endif %}
                            {% if fee_collection.student_detail.middle_name %}{{fee_collection.student_detail.middle_name}}{% endif %}
                            {% if fee_collection.student_detail.last_name %}{{fee_collection.student_detail.last_name }}{% endif %}
                        </div>
                        <div>
                            <b>Course : </b>{{fee_collection.standard_name}}
                        </div>
                    </td>
                    <td  style="border-right: 1px black solid; padding: 10px;font-size: 18px;">
                        <div>
                            <b>Date : </b> {{fee_collection.transaction_date}}
                        </div>
                        <div>
                            <b>Course  Duration: </b> 
                        </div>
                    </td>
                </tr>
                </table>
        <table style="width: 100%;border:1px solid black">
            <thead style="border:1px solid black">
                <tr style="border:1px solid black">
                    <th style="border:1px solid black;width:25%">Sl No</th>
                    <th  style="border:1px solid black;width:45%">Term</th>
                    <th style="text-align:right;border:1px solid black;width:30%">Paid Amount</th>
                </tr>
            </thead>
            <tbody style="border:1px solid black">
                {% if fee_type.fee_type_codename == 'govt' %}
                {% for fee_type_id2, data in fee_type_fee_term_alias_mapping.items %}
                {% if fee_type_id2 == fee_type.fee_type %}
                    {%if 'Admission Fee' not in data.alias_list %}
                    <tr style="border:1px solid black">
                    <th style="border:1px solid black">*</th>
                    <th style="border:1px solid black" >Admission Fee</th>
                    <th style="text-align:right;border:1px solid black">-</th>
                    </tr>
                    {%else%}
                    <tr>
                    <th style="border:1px solid black">*</th>
                    <th style="border:1px solid black" >Admission Fee</th>
                    <th style="text-align:right;border:1px solid black">{% for term,term_data in data.items %}{%if term == 'Admission Fee' %}{{term_data.amount}}{%endif%}{%endfor%}</th>
                    </tr>
                    {%endif%}
                    {%if 'Betterment Fee' not in data.alias_list %}
                    <tr style="border:1px solid black">
                    <th style="border:1px solid black">*</th>
                    <th style="border:1px solid black" >Betterment Fee</th>
                    <th style="text-align:right;border:1px solid black">-</th>
                    </tr>
                    {%else%}
                    <tr>
                    <th style="border:1px solid black">*</th>
                    <th style="border:1px solid black" >Betterment Fee</th>
                    <th style="text-align:right;border:1px solid black">{% for term,term_data in data.items %}{%if term == 'Betterment Fee' %}{{term_data.amount}}{%endif%}{%endfor%}</th>
                    </tr>
                    {%endif%}
                    {%if 'Tution Fee' not in data.alias_list %}
                    <tr style="border:1px solid black">
                    <th style="border:1px solid black">*</th>
                    <th style="border:1px solid black" >Tution Fee</th>
                    <th style="text-align:right;border:1px solid black">-</th>
                    </tr>
                    {%else%}
                    <tr>
                    <th style="border:1px solid black">*</th>
                    <th style="border:1px solid black" >Tution Fee</th>
                    <th style="text-align:right;border:1px solid black">{% for term,term_data in data.items %}{%if term == 'Tution Fee' %}{{term_data.amount}}{%endif%}{%endfor%}</th>
                    </tr>
                    {%endif%}
                    {%if 'Medical Fee' not in data.alias_list %}
                    <tr style="border:1px solid black">
                    <th style="border:1px solid black">*</th>
                    <th style="border:1px solid black" >Medical Fee</th>
                    <th style="text-align:right;border:1px solid black">-</th>
                    </tr>
                    {%else%}
                    <tr>
                    <th style="border:1px solid black">*</th>
                    <th style="border:1px solid black" >Medical Fee</th>
                    <th style="text-align:right;border:1px solid black">{% for term,term_data in data.items %}{%if term == 'Medical Fee' %}{{term_data.amount}}{%endif%}{%endfor%}</th>
                    </tr>
                    {%endif%}
                    {%if 'Sports Fee' not in data.alias_list %}
                    <tr style="border:1px solid black">
                    <th style="border:1px solid black">*</th>
                    <th style="border:1px solid black" >Sports Fee</th>
                    <th style="text-align:right;border:1px solid black">-</th>
                    </tr>
                    {%else%}
                    <tr>
                    <th style="border:1px solid black">*</th>
                    <th style="border:1px solid black" >Sports Fee</th>
                    <th style="text-align:right;border:1px solid black">{% for term,term_data in data.items %}{%if term == 'Sports Fee' %}{{term_data.amount}}{%endif%}{%endfor%}</th>
                    </tr>
                    {%endif%}
                    {%if 'Reading Room Fee' not in data.alias_list %}
                    <tr style="border:1px solid black">
                    <th style="border:1px solid black">*</th>
                    <th style="border:1px solid black" >Reading Room Fee</th>
                    <th style="text-align:right;border:1px solid black">-</th>
                    </tr>
                    {%else%}
                    <tr>
                    <th style="border:1px solid black">*</th>
                    <th style="border:1px solid black" >Reading Room Fee</th>
                    <th style="text-align:right;border:1px solid black">{% for term,term_data in data.items %}{%if term == 'Reading Room Fee' %}{{term_data.amount}}{%endif%}{%endfor%}</th>
                    </tr>
                    {%endif%}
                    {%if 'Laboratory Fee' not in data.alias_list %}
                    <tr style="border:1px solid black">
                    <th style="border:1px solid black">*</th>
                    <th style="border:1px solid black" >Laboratory Fee</th>
                    <th style="text-align:right;border:1px solid black">-</th>
                    </tr>
                    {%else%}
                    <tr>
                    <th style="border:1px solid black">*</th>
                    <th style="border:1px solid black" >Laboratory Fee</th>
                    <th style="text-align:right;border:1px solid black">{% for term,term_data in data.items %}{%if term == 'Laboratory Fee' %}{{term_data.amount}}{%endif%}{%endfor%}</th>
                    </tr>
                    {%endif%}
                    {%if 'Audio Visual Fee' not in data.alias_list %}
                    <tr style="border:1px solid black">
                    <th style="border:1px solid black">*</th>
                    <th style="border:1px solid black" >Audio Visual Fee</th>
                    <th style="text-align:right;border:1px solid black">-</th>
                    </tr>
                    {%else%}
                    <tr>
                    <th style="border:1px solid black">*</th>
                    <th style="border:1px solid black" >Audio Visual Fee</th>
                    <th style="text-align:right;border:1px solid black">{% for term,term_data in data.items %}{%if term == 'Audio Visual Fee' %}{{term_data.amount}}{%endif%}{%endfor%}</th>
                    </tr>
                    {%endif%}
                    {%if 'Craft Fee' not in data.alias_list %}
                    <tr style="border:1px solid black">
                    <th style="border:1px solid black">*</th>
                    <th style="border:1px solid black" >Craft Fee</th>
                    <th style="text-align:right;border:1px solid black">-</th>
                    </tr>
                    {%else%}
                    <tr>
                    <th style="border:1px solid black">*</th>
                    <th style="border:1px solid black" >Craft Fee</th>
                    <th style="text-align:right;border:1px solid black">{% for term,term_data in data.items %}{%if term == 'Craft Fee' %}{{term_data.amount}}{%endif%}{%endfor%}</th>
                    </tr>
                    {%endif%}
                    {%if 'VKN Fee' not in data.alias_list %}
                    <tr style="border:1px solid black">
                    <th style="border:1px solid black">*</th>
                    <th style="border:1px solid black" >VKN Fee</th>
                    <th style="text-align:right;border:1px solid black">-</th>
                    </tr>
                    {%else%}
                    <tr>
                    <th style="border:1px solid black">*</th>
                    <th style="border:1px solid black" >VKN Fee</th>
                    <th style="text-align:right;border:1px solid black">{% for term,term_data in data.items %}{%if term == 'VKN Fee' %}{{term_data.amount}}{%endif%}{%endfor%}</th>
                    </tr>
                    {%endif%}
                    {%if 'Student Welfare Fund' not in data.alias_list %}
                    <tr style="border:1px solid black">
                    <th style="border:1px solid black">*</th>
                    <th style="border:1px solid black" >Student Welfare Fund</th>
                    <th style="text-align:right;border:1px solid black">-</th>
                    </tr>
                    {%else%}
                    <tr>
                    <th style="border:1px solid black">*</th>
                    <th style="border:1px solid black" >Student Welfare Fund</th>
                    <th style="text-align:right;border:1px solid black">{% for term,term_data in data.items %}{%if term == 'Student Welfare Fund' %}{{term_data.amount}}{%endif%}{%endfor%}</th>
                    </tr>
                    {%endif%}
                    {%if 'Teachers Welfare Fund' not in data.alias_list %}
                    <tr style="border:1px solid black">
                    <th style="border:1px solid black">*</th>
                    <th style="border:1px solid black" >Teachers Welfare Fund</th>
                    <th style="text-align:right;border:1px solid black">-</th>
                    </tr>
                    {%else%}
                    <tr>
                    <th style="border:1px solid black">*</th>
                    <th style="border:1px solid black" >Teachers Welfare Fund</th>
                    <th style="text-align:right;border:1px solid black">{% for term,term_data in data.items %}{%if term == 'Teachers Welfare Fund' %}{{term_data.amount}}{%endif%}{%endfor%}</th>
                    </tr>
                    {%endif%}
                    {%if 'Student Flag' not in data.alias_list %}
                    <tr style="border:1px solid black">
                    <th style="border:1px solid black">*</th>
                    <th style="border:1px solid black" >Student Flag</th>
                    <th style="text-align:right;border:1px solid black">-</th>
                    </tr>
                    {%else%}
                    <tr>
                    <th style="border:1px solid black">*</th>
                    <th style="border:1px solid black" >Student Flag</th>
                    <th style="text-align:right;border:1px solid black">{% for term,term_data in data.items %}{%if term == 'Student Flag' %}{{term_data.amount}}{%endif%}{%endfor%}</th>
                    </tr>
                    {%endif%}
                    {%if 'Cleaning Fee' not in data.alias_list %}
                    <tr style="border:1px solid black">
                    <th style="border:1px solid black">*</th>
                    <th style="border:1px solid black" >Cleaning Fee</th>
                    <th style="text-align:right;border:1px solid black">-</th>
                    </tr>
                    {%else%}
                    <tr>
                    <th style="border:1px solid black">*</th>
                    <th style="border:1px solid black" >Cleaning Fee</th>
                    <th style="text-align:right;border:1px solid black">{% for term,term_data in data.items %}{%if term == 'Cleaning Fee' %}{{term_data.amount}}{%endif%}{%endfor%}</th>
                    </tr>
                    {%endif%}
                    {%if 'Red Cross' not in data.alias_list %}
                    <tr style="border:1px solid black">
                    <th style="border:1px solid black">*</th>
                    <th style="border:1px solid black" >Red Cross</th>
                    <th style="text-align:right;border:1px solid black">-</th>
                    </tr>
                    {%else%}
                    <tr>
                    <th style="border:1px solid black">*</th>
                    <th style="border:1px solid black" >Red Cross</th>
                    <th style="text-align:right;border:1px solid black">{% for term,term_data in data.items %}{%if term == 'Red Cross' %}{{term_data.amount}}{%endif%}{%endfor%}</th>
                    </tr>
                    {%endif%}
                {%endif%}
                {%endfor%}
                {%else%}
                {% for fee in fee_collection.payment_detail %}
                {% if fee.fee_type_name == fee_type.fee_type_name %}
                <tr>
                    <th style="border:1px solid black">*</th>
                    <th style="border:1px solid black" >{{fee.fee_payment_terms_alias|title}}</th>
                    <th style="text-align:right;border:1px solid black">{{fee.amount_paid|floatformat}}</th>
                </tr>
                {%endif%}
                {%endfor%}
                {%endif%}
                <tr style="border:1px solid black">
                    <th></th>
                    <th>TOTAL PAID AMOUNT:</th>
                    <th style="text-align:right;border:1px solid black">{{fee_type.amount_paid}}</th>
                </tr>
            </tbody>
        </table>
        <table class="outer-table"  style="width: 100%; line-height:1.5; border-collapse: collapse;border: 1px solid black;border-top:none;padding-left: 30px;left:20px">
            <tr style="padding-left: 10px;left:10px">
               <th style="padding-left: 10px;left:10px">Mode Of Payment : {% if fee_collection.mode_of_payment %}{{fee_collection.mode_of_payment}}{% endif %}</th> 
            </tr>
            {%if fee_type.fee_type_codename == 'management' %}
            <tr>
                <th style="padding-left: 10px;left:10px"> Total Pending Amount : {{fee_type.pending_amount_till_date}}</th>         
            </tr>
            {%endif%}
            <tr>
                <th style="padding-left: 10px;left:10px">AMOUNT IN WORDS: : {{fee_type.amount_paid_in_words|upper}}</th>  
            </tr>
            <tr>
                <th style="padding-left: 10px;left:10px">{% if fee_collection.mode_of_payment != 'Cash' %}
                    Transaction ID: {{fee_collection.payment_ref_num}}
                   {% endif %}</th>
            </tr>
            <tr>
                <th style="text-align: right;">Signature Of Clerk</th>
            </tr>
            <tr>
                <th style="text-align: center;">* All above mentioned Amount once paid are non refundable in case  whatsoever.*</th>
            </tr>
        </table>                       
    </div>
    {% if not forloop.last and fee_type_loop.counter|divisibleby:"2" %}
    <div style="page-break-after: always;"></div>
    {% else %}
    <div style="margin-top: 150px;"></div>
    {% endif %}
{% endwith %}
{%endif%}
{% endfor %}
<!-- {%for fee_type in fee_collection.payment_detail_fee_type %}
{% if fee_type.fee_type_codename == "govt" and fee_collection.payment_detail_fee_type|length == 1 %}
<div style="page-break-after: always;"></div>
{%endif%}
{%endfor%} -->
{% if not forloop.last and forloop.counter|divisibleby:"2" %}
<div style="page-break-after: always;"></div>
{% endif %}
{% endwith %}
{% endfor %}
</div>

</body>
</html>
