{% load humanize %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fee receipt</title>
    <style>
      * {
        padding: 5px;
        margin: 0px;
      }
      @page {
        size: A5;
      }
      table,
      tr,
      td {
        border: 1px solid black;
        border-collapse: collapse;
        border-bottom: 0px;
      }
      table {
        width: 100%;
      }
      .table3 {
        border-bottom: 1px solid black !important;
      }
      .authsign {
        height: 70px;
        padding-left: 70%;
        margin-top: auto;
        vertical-align: bottom;
      }
      .container {
        font-family: sans-serif;
      }
      
    </style>
  </head>
<body>
{% for count in number_of_copies %}
    <div class="container">
        {%  if forloop.counter|divisibleby:"2" %}
        <div>SCHOOL FEE RECEIPT STUDENT COPY</div>
        {% else %}
        <div>SCHOOL FEE RECEIPT SCHOOL COPY</div>
        {% endif %}
        <div style='display:flex;border:1px solid black;border-collapse: collapse;border-bottom: 0px;'>
            <div style="position:absolute;left:40px">
                {% if institute.logo.file.url %}
                    <img src={{institute.logo.file.url}}
                    style="width: 90px;height: 90px;"/>
                {% endif %}
            </div>
            <div style="text-align: center;margin-left:auto;margin-right:auto">
                <div style="font-size: 31px;padding-left:20px;font-weight: bold;margin-top:5px">
                    {{institute.name}}
                </div>  
                <div style="line-height: 20px;font-size:14px;margin-top:5px">
                    {{ institute.address | upper}}{% if institute.city %}, {{ institute.city| upper }}{% endif %}
                    {% if institute.pincode %} - {{ institute.pincode }}{% endif %} </br>
                </div>
            </div>
        </div>
        <table>
            <tr>
                <td colspan="4">
                    <div>Student Name :<b>
                        {% if fee_collection.student_detail.first_name %}{{fee_collection.student_detail.first_name}}{% endif %}
                        {% if fee_collection.student_detail.middle_name %}{{fee_collection.student_detail.middle_name}}{% endif %}
                        {% if fee_collection.student_detail.last_name %}{{fee_collection.student_detail.last_name }}{% endif %}</b>
                    </div>
                    <div>Class/Section :
                        <b>{{fee_collection.standard_name}}{% if fee_collection.enrollment_data.section_name %}/{{fee_collection.enrollment_data.section_name}}{%endif%}</b>
                    </div>
                </td>
                <td colspan="4">
                    <div>Date :
                        {{fee_collection.transaction_date}}
                    </div>
                    <div>Receipt No :
                        <b>{{fee_collection.receipt_num|cut:"receipt"|title}}</b>
                    </div>
                    <div>Student ID :
                        {{admission_num|title}}
                    </div>
                </td>
            </tr>

            <tr>
                <td>Sl.No</td>

                <td>Particulars</td>

                <td>Installment</td>

                <td>Yearly</td>

                <td>Discount</td>

                <td>Others</td>

                <td>Paid Amt</td>

                <td>Balance</td>
            </tr>
            {% for fee in fee_collection.payment_detail %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{fee.fee_type_name}}</td>
                    <td>Yearly</td>
                    <td>{{fee.total_amount| floatformat |intcomma}}</td>
                    <td>{{fee.adjustment_amount| floatformat |intcomma}}</td>
                    <td>{{0}}</td>
                    <td>{{fee.amount_paid| floatformat |intcomma}}</td>
                    <td>{{fee.pending_amount_till_date| floatformat |intcomma}}</td>
                    </tr>
            {% endfor %}
        </table>
        <table class="table3">
            <tr>
                <td>
                    <div>Total Paid: ₹ {{ fee_collection.total_amount | floatformat |intcomma}}/- ( {{amount_in_words|title}} )</div>
                    <div>Overall Balance : ₹ {{student_fee_summary.balance_till_date| floatformat |intcomma}}/- </div>
                    <div>Mode of Payment: {% if fee_collection.mode_of_payment %}{{fee_collection.mode_of_payment}}{% endif %}</div>
                    {%if fee_collection.payment_ref_num %} <div>Transaction:  ({{fee_collection.payment_ref_num}})
                    </div>{% endif %}
                </td>
            </tr>
            <tr>
                <td class="authsign">AUTHORISED SIGNATURE</td>
            </tr>
            <tr>
                <td style='vertical-align:bottom;border-right:0px; color:black; text-align: center; height: 30px;' colspan='3'>
                    *Fees once paid will not be refunded*
                </td>
            </tr>
        </table>
            <div style="display:flex">
                <div align="left">Receipt Generated by : {{fee_collection.collected_by|title}} {{ today }}</div>
                <div style='margin-left:auto'>Powered By Edubricz</div>
            </div>
        {%  if forloop.counter|divisibleby:"2" and not forloop.last %}
        <div style="page-break-after: always;"></div>
        {%else%}
        <div style="margin:25px;">
        {% endif %}
    </div>
{%endfor%}
</body>
</html>