{% load humanize %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fees Receipt</title>
    <style>
        @page { size: A4;
            margin: 2mm;
        }
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th,
        td {
            padding: 5px;
            text-align: left;
        }
        .feereceipt-box{
            border: 1px solid #000000 !important;
            padding: 5px 7px;
            display: inline-block;
        }
        .noborder{
            border: 0px solid;
        }
        .bold{
            font-weight: bold
        }
        .line-height{
            line-height: 1.5;
        }
        .text-center{
            text-align:center;
        }
    </style>
</head>
{% for count in number_of_copies %}
<div style='border: 1px solid;padding:20px;margin:10px'>
        <div style='display:flex;width:100%'>
            <div style="position:absolute">
                {% if institute.logo.file.url %}
                    <img src={{ institute.logo.file.url }}
                    style="width: 80px;height: 80px;"/>
                {% endif %}
            </div>
            <div style="text-align: center;margin-left:auto;margin-right:auto">
                <div style="font-size: 15px;padding-left:20px;font-weight: bold;">
                    {{institute.trust_name}}
                </div>
                <div style="font-size: 35px;padding-left:20px;font-weight: bold;margin-top:5px">
                    {{institute.name}}
                </div>
                    
                <div style='font-size: 18px;font-weight: bold;margin-top:5px'>Recognized by Govt of Karnataka</div>
                <div style="line-height: 20px;font-size:14px;margin-top:5px">
                    {{ institute.address }}{% if institute.city %}, {{ institute.city }}{% endif %}
                    {% if institute.pincode %} - {{ institute.pincode }}{% endif %} </br>
                </div>
            </div>
        </div>
        <div style="font-size: 18px;font-weight: bold;text-decoration:underline;margin-top:15px;text-align: center;">
                    RECEIPT </br></div>
    <table class='noborder' style="width: 100%">
        <tr class='noborder'>
            <td class='noborder bold line-height' style='width:65%;vertical-align:top'> 
                Student   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :&nbsp;&nbsp;
                {% if fee_collection.student_detail.first_name %}{{fee_collection.student_detail.first_name|title}}{% endif %}
                {% if fee_collection.student_detail.middle_name %}{{fee_collection.student_detail.middle_name}}{% endif %}
                {% if fee_collection.student_detail.last_name %}{{fee_collection.student_detail.last_name }}{% endif %}
                <br/>
                Class & Sec : &nbsp;
                {{fee_collection.standard_name}} ({{fee_collection.enrollment_data.section_name}})
                <td class="noborder bold line-height">
                    Bill No : &nbsp;&nbsp;
                    {{fee_collection.sspscbs_fee_receipt.payment_details.0.receipt_num}}
                <br/>
                Date &nbsp;&nbsp;&nbsp;&nbsp;:  &nbsp;&nbsp;{{fee_collection.transaction_date}} <br/>
                </td>
            </td>
        </tr>
    </table>
    <table style="width: 100%;min-height:210px">
        <thead>
            <tr>
                <th width='10%'>Sl.No</th>
                <th width='70%'>Fee Type</th>
                <th width:'20%' style="text-align:right">Fee Paid</th>
            </tr>
        </thead>
        <tbody style='vertical-align:top'>
        <tr>
            <td>{% for fee in fee_collection.sspscbs_fee_receipt.payment_details %}
                {{forloop.counter}}</br>{% endfor %}
            </td>
            <td>{% for fee in fee_collection.sspscbs_fee_receipt.payment_details %} {{fee.fee_type_name}}</br>{% endfor %}
            <td style='text-align:right'>{% for fee in fee_collection.sspscbs_fee_receipt.payment_details %}
                {{fee.amount_paid|floatformat|intcomma }}</br>{% endfor %}</td>
        </tr>
        <tr style='height:30px'>
             <td colspan="2" style='text-align:right'>Total Paid &nbsp; : &nbsp;</td>
             <td style='text-align:right'>  ₹ {{ fee_collection.sspscbs_fee_receipt.total_amount_paid | floatformat |intcomma}}</td>
        </tr>
        <tr style='height:30px'>
            <td colspan="2" style='text-align:right'>Balance as on Date &nbsp; : &nbsp;</td>
            <td style='text-align:right'>  ₹ {{ fee_collection.sspscbs_fee_receipt.total_amount_pending_till_date | floatformat |intcomma}}</td>
       </tr>
        </tbody>
    </table>
    <table style="width: 100%;margin-top: 10px" class="noborder" colspan="2">
        <tr class="noborder">
            <td class="noborder">
            Received Rupees {{fee_collection.sspscbs_fee_receipt.amount_in_words|title}} Only<br/>
        </td>
        <tr>
    </table>
    <table style="width:100%;margin-top:50px" class="noborder">
    <td style="text-align:right;" class="noborder"> Signature </td>
    </table>
</div>
    {%  if forloop.counter|divisibleby:"3" %}
    <div style="page-break-after: always;"></div>
    {% endif %}
{% endfor %}
</html>