{% load humanize %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fees Receipt</title>
    <style>
        @page { size: A5 ;
            margin: 2mm;
        }
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th,
        td {
            padding: 5px;
            text-align: left;
        }
        .feereceipt-box{
            border: 1px solid #000000 !important;
            padding: 5px 7px;
            display: inline-block;
        }
        .noborder{
            border: 0px solid;
        }
        .bold{
            font-weight: bold
        }
        .line-height{
            line-height: 1.5;
        }
        .text-center{
            text-align:center;
        }
    </style>
</head>
{% for count in number_of_copies %}
<div style='border: 1px solid;padding:20px;margin:10px'>
        <div style='display:flex;width:100%'>
            <div>
                {% if institute.logo.file.url %}
                    <img src={{institute.logo.file.url}}
                    style="width: 160px;height: 160px;"/>
                {% endif %}
            </div>
            <div style="text-align: center;margin: auto;">
                <div style="font-size: 28px;font-weight: bold;">
                    SWAMY VIVEKANANDA VIDYA KENDRA </br>
                </div>
                <div style='font-size: 18px;font-weight: bold;'>(Vishwa Hindu Parishad Sanchalitha)</div>
                <div style='font-size: 18px;font-weight: bold;'>Sri Ramakrishna Road, Sir M.V. Extension, Hoskote-562114</div>
            </div>
        </div>
        <div style="font-size: 18px;font-weight: bold;text-decoration:underline;text-align: center;margin-top: 10px;border:1px solid black;">
                    VAN FEES </div>
    <table class='noborder' style="width: 100%">
        <tr class='noborder'>
            <td class='noborder bold line-height' style='width:70%;vertical-align:top'> 
                Rec No:{{fee_collection.payment_detail.0.receipt_num|title}} <br/>
                Name : 
                {% if fee_collection.student_detail.first_name %}{{fee_collection.student_detail.first_name}}{% endif %}
                {% if fee_collection.student_detail.middle_name %}{{fee_collection.student_detail.middle_name}}{% endif %}
                {% if fee_collection.student_detail.last_name %}{{fee_collection.student_detail.last_name }}{% endif %}
                <br/>
                Standard:
                {{fee_collection.standard_name}}<br/>
                Route & Place : {% if fee_collection.student_address %} 
                Area:- {{fee_collection.student_address.0.address}}{%endif%}
                <td class="noborder">
                Date:  {{fee_collection.transaction_date}} <br/>
                </td>
            </td>
        </tr>
    </table>
    <table style="width: 100%;min-height:210px">
        <thead>
            <tr>
                <th width='10%'>Sl.No</th>
                <th width='40%' style="text-align:center">Particulars</th>
                <th width:'30%' style="text-align:center">Amount(₹)</th>
            </tr>
        </thead>
        <tbody style='vertical-align:top'>
        <tr>
            <td>
                1. <br>
            </td>
            <td> Van Fee <br>
                <br>
                <b> VAN ID : {{fee_collection.student_detail.custom_details.van_id}}</b>
            </td>
            <td style='text-align:right'>
                {{ fee_collection.swvk_van_fee_receipt.total_amount_paid | floatformat }}</br></td>
        </tr>
        <tr style='height:30px'>
             <td colspan="2" style='text-align:right'>TOTAL </td>
             <td style='text-align:right'> ₹ {{ fee_collection.swvk_van_fee_receipt.total_amount_paid | floatformat}}</td>
        </tr>
        </tbody>
    </table>
    <table style="width: 100%" class="noborder" colspan="2">
    <tr class="noborder">
        <td class="noborder">
        Amount in words:{{ fee_collection.swvk_van_fee_receipt.amount_in_words|title }} Only<br/>
        Mode Of Payment:{%for mode_of_pay in fee_collection.mode_of_payment_list %}
                {{mode_of_pay.mode_of_payment}}
            {%endfor%}<br/>
        {% if fee_collection.payment_ref_num %}
        UTR No : {{ fee_collection.payment_ref_num }}<br>
        {% endif %}    
        Receipt Generated at : {{ today }}
    </td>
    <tr>    
    </table>
    <table style="width:100%;margin-top:50px" class="noborder">
        <tr class="noborder">
            {% if forloop.first %}
                <td style="text-align:left;" class="noborder"> Parents Sign </td>
            {% else %}
                <td class="noborder"></td>
            {% endif %}
            <td style="text-align:right;" class="noborder"> Head Master / Cashier </td>
        </tr>
    </table>
</div>
    {% if not forloop.last %}
        <div style="page-break-after: always;"></div>
    {% endif %}
{% endfor %}
</html>