<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fees Receipt</title>
    <style>
        @page {
            size: A5;
            margin: 20mm;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 5px;
            text-align: left;
        }

        .feereceipt-box {
            border: 1px solid #000000;
            padding: 5px 7px;
            display: inline-block;
            font-weight: bold;
        }
    </style>
</head>

<body style="padding-right:10px">
    <div>
        {% for count in number_of_copies %}
                <div style="margin-top: 25px;"></div>
                <div style="text-align:right; margin-right:10px;">Student Copy</div>
            <div style="height:147mm; padding-top: 12px;">
                <!-- Header Section -->
                <table style="width:100%;">
                    <tr>
                        <td>
                            <div style="display: flex; align-items: center; justify-content: space-between;">
                                {% if institute.logo %}
                                    <div>
                                        <img src="https://production-edubricz.s3.ap-south-1.amazonaws.com/companies-images/vidyasagarinternational/Logo_Vidyasagar+International+School-1.png" style="width: 130px; height: 130px;" />
                                    </div>
                                {% endif %}
                                <div style="text-align: center; flex-grow: 1; margin: 0 15px;">
                                    <div style="font-size: 17px;">SHREE MAATHA-PITRU EDUCATIONAL AND CHARITABLE TRUST(R)</div>
                                    <div style="font-size: 27px; font-weight: bold;">
                                        VIDYA SAGAR INTERNATIONAL SCHOOL
                                    </div>
                                    <div style="font-size: 18px;">
                                        (Recognized by Govt. of Karnataka)
                                    </div>
                                    <div style="line-height: 20px;font-size: 15px;">
                                        #9/2, 2nd Main Road, Near Kateramma Temple, Sanchar Nagar (Telecom Layout),<br/>
                                        Thanisandra, Dr.SRK Nagar Post, Bengaluru-560077
                                    </div>
                                    <div style="line-height: 20px;">
                                        Contact office: 7026232462 / 9986716186
                                    </div>
                                    <div style="margin-top: 30px; ">
                                        <div class="feereceipt-box" style="font-size: 22px;">FEE RECEIPT</div>
                                    </div>
                                </div>

                                {% if institute.logo %}
                                    <div>
                                         <img src="{{ institute.logo.file.url }}" style="width: 130px; height: 130px;" />
                                    </div>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                </table>

                <!-- Student Info Section -->
                <table style="width: 100%; line-height: 1.5;">
                    <tr>
                        <td>
                            <div>
                                <b>Student Name:</b> 
                                {{ fee_collection.student_detail.first_name }}
                                {{ fee_collection.student_detail.middle_name }}
                                {{ fee_collection.student_detail.last_name }}
                            </div>
                            <div>
                                <b>Class / Section:</b> {{ fee_collection.standard_name }}
                            </div>
                        </td>
                        <td>
                            <div>
                                <b>Date:</b> {{ fee_collection.transaction_date }}<br/>
                                 <b>Reciept No:</b> {{fee_collection.receipt_num|title}} <br/>
                            </div>
                        </td>
                    </tr>
                </table>

                <!-- Payment Details Section -->
                <table style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Sl No</th>
                            <th>Particulars</th>
                            <th>Paid Amount</th>
                            <th>Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for fee in fee_collection.payment_detail %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ fee.fee_type_name }}</td>
                            <td>{{ fee.amount_paid|floatformat:2 }}</td>
                            <td>{{ fee.pending_amount_till_date|floatformat:2 }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="5" style="font-weight:bold; line-height:1.5;">
                                TOTAL PAID AMOUNT: {{ fee_collection.total_amount|floatformat:2 }}/- 
                                ({{ amount_in_words|upper }})<br/>
                                Mode of Payment: {{ fee_collection.mode_of_payment }}<br/>
                                {% if fee_collection.payment_ref_num %} Transaction Id - {{ fee_collection.payment_ref_num }} {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" style="text-align:right; padding-top:50px;padding-right: 58px;">
                                Cashier Sign
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" style="text-align:center;">
                                *** Fees once paid will not be refunded ***
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- Footer -->
                <div style="display: flex; padding: 10px 0;">
                    <div>Receipt Generated at: {{ today }}</div>
                    <div style="margin-left: auto;">Powered by Edubricz</div>
                </div>
            </div>

            {% if forloop.counter|divisibleby:"2" and not forloop.last %}
                <div style="page-break-after: always;"></div>
            {% else %}
                <div style="margin:165px;"></div>
            {% endif %}
        {% endfor %}
    </div>
</body>

</html>
