<html>
<head>
    <style>
        .text-align-center {
            text-align: center;
        }
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
            font-size: 20px;
        }
        th,
        td {
            padding-top: 23px;
            padding-bottom: 23px;
            padding-left: 5px;
            padding-right: 5px;
            text-align: left;
        }
        .td-font-size > td {
            font-size: 20px;
        }
        .font-weight-bold {
            font-weight: bold;
        }
        .subject-list > tbody > tr > td {
            text-align: center;
        }
        .student-card {
            border: 1px solid black;
            height: 1380px;
            page-break-after: always; /* Forces new page per student */
        }
    </style>
</head>
<body>
    {% for student in data.student_list %}
    <div class="student-card">
        <div style='line-height: 1.8'>
            {% if student.is_finalized == False %}
                <div style='color:red'>
                    Marks Is Not Finalized
                </div>
            {% endif %}
            <div class='text-align-center'>
                <b>
                    <div style="font-size:30px;font-weight: bold;">ASCENT PRE UNIVERSITY COLLEGE </div>
                    <div style="font-size:18px">No 1 & 15 Hesarghatta main road near 8th mile Bangalore-73</div>
                    <div style="font-size:18px">College Code - AN0978</div>
                    <div style="font-size:18px">(Recognized by dept. of Pre-University Education)</div>
                </b>
            </div>
            <div class='text-align-center font-weight-bold' style="font-size: 25px;">
                Marks Statement<br/>
            </div>
        </div>
        <div>
            <div style='margin-top: 20px;font-weight: bold;font-size: 20px;padding-left: 10px;'>
                STUDENT NAME : {{student.student_name}} <br/>
            </div>
            <div style="margin-top: 10px;font-weight: bold;font-size: 20px;padding-left: 10px;">
                CLASS : I PUC
            </div>
            <div style="margin-top: 10px;font-weight: bold;font-size: 20px;padding-left:10px;">
                COMBINATION : {{data.standard_name|cut:"I"}} <br/>
            </div>

            <table class='table-border subject-list' style='margin-top: 50px;margin:10px;'>
                <tr style='font-weight: bold;font-size: 15px;'>
                    <td style='font-weight: bold;font-size: 20px;'>
                        SUBJECTS
                    </td>
                    {%for subject_data in student.subject_list_data %}
                        {%if forloop.counter == 1 %}
                            {%for exam in subject_data.exam_details_list %}
                            <td colspan="2" style='font-weight: bold;font-size: 18px;'>
                                {{exam.exam_name|title}}
                            </td>
                            {%endfor%}
                        {%endif%}
                    {%endfor%}
                    <!-- <td colspan="3" style='font-weight: bold;font-size: 15px;'> Attendance Details <br> FROM 29th MAY TO 31th AUG-2025 </td> -->
                     <td colspan="3" style='font-weight: bold;font-size: 15px;'> Attendance Details <br> FROM 29th May TO 20th Dec-2025  </td>
                </tr>
                <tr style='font-weight: bold;font-size: 15px;'>
                    <td></td>
                    {%for subject_data in student.subject_list_data %}
                        {%if forloop.counter == 1 %}
                            {%for exam in subject_data.exam_details_list %}
                            <td style='font-weight: bold;font-size: 15px;'>Max Marks</td>
                            <td style='font-weight: bold;font-size: 15px;'>Marks Obt</td>
                            {%endfor%}
                        {%endif%}
                    {%endfor%}
                    <td style="font-size: 11px;"> Total No of Classes Held </td>
                    <td style="font-size: 11px;"> No Of Classes Attended </td>
                    <td style="font-size: 11px;"> % of Attendance</td>
                </tr>
                {% for subject_data in student.subject_list_data %}
                    {%if subject_data.subject_part_type_code_name == 'part1' %}
                        <tr class='td-font-size'>
                            <td>{{subject_data.subject__name}}</td>
                            {% for exam in subject_data.exam_details_list %}
                            <td>{%if exam.total_max_marks %}{{exam.total_max_marks|floatformat:0}}{%else%} - {%endif%}</td>
                            <td>{%if exam.total_marks %} {{exam.total_marks|floatformat:0}} {%else%} {%if exam.attendance_status == 'Absent' %} AB 
                                {%else%}- {%endif%}{%endif%}</td>
                            {%endfor%}
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr style='font-weight: bold' class='td-font-size'>
                    <td>TOTAL MARKS</td>
                    {%for exam in student.exam_details_list %}
                    <td>{{exam.exam_part1_total_max_marks|floatformat:0}}</td>
                    <td>{{exam.exam_part1_total_marks|floatformat:0}}</td>
                    {%endfor%}
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr style='font-weight: bold' class='td-font-size'>
                    <td>RESULT</td>
                    {%for exam in student.exam_details_list %}
                    <td></td>
                    <td></td>
                    {%endfor%}
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>

     <div style="width:100%; display:flex; justify-content:space-between; font-size:25px; font-weight:bold; margin-top:50px;">
        <div style="padding-left:20px;padding-top: 60px;">
            Signature of Proctor
        </div>
        <div style="text-align:center; padding-right:20px;">
            <img src="https://production-edubricz.s3.amazonaws.com/140/press_Id_-_2025-10-24T172259.237.png"
                style="width:100px; height:80px; margin-bottom:5px;" alt="Principal Signature"/><br>
            Principal
        </div>
        </div>


    </div>
    {% endfor %}
</body>
</html>
