.min-qty-alert-padding {
    padding-left: 10px !important;
    padding-top: 30px !important;
}

.min-qty-options {
    display: block !important;
}

.min-qty-heading {
    color: black !important;
    padding-bottom: 10px !important;
}

.padding-left-100 {
    padding-left: 100px !important;
}

.padding-left-25 {
    padding-left: 25px !important;
}

.padding-top-25 {
    padding-top: 25px !important;
}

.padding-top-35 {
    padding-top: 35px !important;
}

.propertyvalue-padding {
    padding-top: 35px !important;
    padding-left: 8px !important;
}

.margin-top-15 {
    margin-top: 15px !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-top-4 {
    margin-top: 4px !important;
}

.grand-total {
    font-size: larger !important;
}

.margin-left-20 {
    margin-left: 20px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.addMoreItem {
    display: flex !important;
    justify-content: flex-end !important;
}

.amount-table-width {
    width: 150px !important;
}

.table-header-color {
    background: aliceblue !important;
}

.return-Button{
    display: flex !important;
    justify-content: flex-end !important;
    padding-top: inherit !important;
}

.error-color {
    color: red !important;
}

.error-width {
    width: 180px !important;   
    height: 88px !important; 
}

.add-icon-stock-item{
    width: 30px!important;
    height: 30px!important;
}

.stock-property-value{
    max-height: 40px;
    overflow: hidden;
    cursor: pointer;
}

.purchase-amount{
    font-weight:bold;
    font-size:15px;
}

.purchase-grand-amount{
    font-weight:bold;
    font-size:18px;
}

.chip-name{
    max-width: -webkit-fill-available!important;
}