<html>
    <head>
        <style>
            @page{
                size:A5;
            }
            .text-align-center{
                text-align: center
            }
            table{
                border-radius: 10px;
            }
            table,
            th,
            td {
                border: 1px solid black;
                border-collapse: collapse;
                font-size: 15px;
            }
            th {
                text-align: center;
            }
            td{
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 5px;
                padding-right: 5px;
                text-align: left;
            }
            .td-font-size>td{
                font-size: 13px;
            }
            .font-weight-bold{
                font-weight: bold;
            }
            .subject-list>tbody>tr>td{
                text-align: center
            }
            .noborder > table tr td{
                border: 0px solid black;
                font-size: large;
                padding:6px;
            }
            .box {
                width: 100px;
                height: 100px;
                border: 1.5px solid black;
                border-radius: 8px;
            }
        </style>
    </head>
    <body>
        {% for student in data.student_list %}
        {% if student.subject_list_data|length >= 6 %}
        <div style="border:1px solid black;border-radius:10px; padding:20px;">
        {% elif student.subject_list_data|length <= 3 %}
        <div style="border:1px solid black;border-radius:10px; padding:20px;margin: 10px 40px;">
        {% elif student.subject_list_data|length == 5 %}
            <div style="border:1px solid black;border-radius:10px; padding:20px;margin: 10px 10px;">
        {%endif%}
            <div class="noborder">
            <table width="100%" style="border:0px solid black;padding:0px;margin-top:-15px;">
                <tr>
                <td width="20%" class='font-weight-bold text-align-right;' style="text-align: right;vertical-align: top;">
                        <img src="https://production-edubricz.s3.amazonaws.com/32/download_jDfs8ov.png"
                        style="width: 80px;height: 80px;"/>
                </td>
                <td class='text-align-center' style="vertical-align: top;">
                    <b>
                        <div style="font-size:35px;font-weight: bold;text-align:center">JNANA JYOTHI PU COLLEGE</div>
                        <div style="font-size:18px;">YELAHANKA NEW TOWN, BENGALURU-560064</div>

                    </b>
                </td>
                <td class='font-weight-bold text-align-center;'>
                    <div class="box" style="vertical-align: top;text-align: right;position: relative;">
                    {% if student.profile_pic_file %}
                    <div>
                        <img src={{student.profile_pic_file}}
                        style="width: 98px;height: 98px;border-radius:8px;text-align: right;vertical-align: top;position:absolute;top:1px;right:1px;"/>
                    {% endif %}
                </td>
                </tr></table>
                </div>
                <div class="noborder">
                <table width="100%" style="margin-top:-20px;border:0px solid black;font-weight: bold;">
                    <tr>
                        <td width="60%" >
                            STUDENT NAME : {{student.student_name|upper}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            REGISTER NUMBER : {{student.student_admission_form.admission_num}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            STANDARD : {{data.standard_name}}
                        </td>
                    </tr>
                </table>
                </div>
            <div class='text-align-center font-weight-bold' style="font-size:21px;margin-top: -10px;">
                {{data.exam_details|upper}}-({{data.academic_year_details.start_date|date:"Y"}} - {{data.academic_year_details.end_date|date:"Y"}})<br/>
            </div>
                <table class='subject-list' style='width: 100%;border-radius: 10px;margin-top: 8px;'>
                    <tr style='font-weight: bold;' class='td-font-size'>
                        <th width=30% style="border-bottom:0px solid black;padding-top:10px;padding-bottom:0px;text-align: left;padding-left:20px;">
                            SUBJECTS
                        </th>
                        <th style="border-bottom:0px solid black;padding-top:10px;padding-bottom:0px;">
                            MAX MARKS
                        </th>
                        <th style="border-bottom:0px solid black;padding-top:10px;padding-bottom:0px;">
                            MIN MARKS
                        </th>
                        <th style="border-bottom:0px solid black;padding-top:10px;padding-bottom:0px;"> 
                            OBTAINED MARKS
                        </th>
                    </tr>
                    {% for subject_data in student.subject_list_data %}
                        {%if subject_data.subject_part_type_code_name ==  'part1'%}
                            <tr class='td-font-size'>
                                <td style="text-align: left;padding-left: 12px;">{{subject_data.subject_name|upper}}</td>
                                <td style="font-weight: bold;">{{subject_data.total_max_marks|floatformat:0}}</td>
                                <td style="font-weight: bold;">{{subject_data.total_min_marks|floatformat:0}}</td>
                                <td style="font-weight: bold;">{{subject_data.total_obtained_marks|floatformat:0}}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                        <tr style='font-weight: bold' class='td-font-size'>
                            <td style='font-size: 13px'>GRAND TOTAL</td>
                            <td>{{student.part_type_data_code_wise.part1.total_marks|floatformat:0}}</td>
                            <td>{{student.part_type_data_code_wise.part1.total_min_marks|floatformat:0}}</td>
                            <td>{{student.part_type_data_code_wise.part1.total_obtained_marks|floatformat:0}}</td>
                        </tr>
                </table>
                <table style='width:100%;margin-top:10px;border:0px'>
                    <tr>
                        <td style='border: 0px solid black;font-weight: bold'>
                            TOTAL MARKS IN WORDS : {{student.part_type_data_code_wise.part1.total_obtained_marks_in_word|upper}}
                        </td>
                        <td style='border: 0px solid black;font-weight: bold'>
                            PERCENTAGE : {{student.part_type_data_code_wise.part1.percentage|floatformat:2}}%
                        </td>
                    </tr>
                </table>
                <div class="noborder" style="margin-top:30px;">
                    <table width=100% style="border:0px solid black">
                        <tr>
                            <td>
                                Signature of the class Teacher
                            </td>
                            <td style="text-align: center;position:relative">
                                <img src="https://production-edubricz.s3.amazonaws.com/32/WhatsApp_Image_2025-08-21_at_11.41.35_AM.jpeg" 
                                style="width:350px;height:30px;position:absolute;top:-20px;left:0px"/>
                                Signature of the Principal
                            </td>
                            <td style="text-align: right;">
                                Signature of the Parent/Guadian
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            {% if forloop.counter|divisibleby:"2" %}
            <div style="page-break-after: always;"></div>
            {%else%}
            <div style="margin-bottom:30px;"></div>
            {% endif %}
        {%endfor%}
    </body>

</html>