<html>
    <head>
        <style>
            .text-align-center{
                text-align: center
            }
            table,
            th,
            td {
                border: 1px solid black;
                border-collapse: collapse;
                font-size: 15px;
            }
            th,
            td {
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 5px;
                padding-right: 5px;
                text-align: left;
            }
            .td-font-size>td{
                font-size: 13px;
            }
            .font-weight-bold{
                font-weight: bold;
            }
            .subject-list>tbody>tr>td{
                text-align: center
            }
        </style>
    </head>
    <body>
        {% for student in data.student_list %}
            <div style='line-height: 1.8'>
                {% if student.is_finalized == False %}
                    <div style='color:red'>
                        Marks Is Not Finalized
                    </div>
                {% endif %}
                <div class='text-align-center' style='font-size:18px'>
                    <b>
                        <div style='font-size:20px'>{{institute_data.name}}</div>
                        373, 18th Main Rd, Block 4, 4th Block,  <br/>
                        Sreenivas Nagar, Nandini Layout, <br/>
                        Bengaluru, Karnataka 560096 <br/>
                    </b>
                </div>
                <div class='font-weight-bold text-align-center'>
                    {% if institute_data.document_details.file %}
                        <img src={{ institute_data.document_details.file }}
                        style="width: 100px;height: 100px;padding-right:"/>
                    {% endif %}
                </div>
                <div class='text-align-center font-weight-bold'>
                    {{data.exam_details|upper}} <br/>
                    <u>STATEMENT OF MARKS {{data.academic_year_details.start_date|date:"Y"}} - {{data.academic_year_details.end_date|date:"y"}}</u>
                </div>
        
                <div style='margin-top: 20px'>
                    This is to certify that the candidate mentioned below has scored {{data.exam_code_name}} marks, with the following details
                </div>
            </div>
            <div>
                <div style='margin-top: 20px;font-weight: bold'>
                    STUDENT NAME : {{student.student_name}} <br/>
                </div>
                <div style="margin-top: 10px;font-weight: bold">
                    ADMISSION NUMBER : {% if student.student_admission_form %} 
                        {{student.student_admission_form.admission_num}}
                    {% endif %}
                </div>
                <div style="margin-top: 10px;font-weight: bold">
                    STANDARD AND SECTION : {{data.standard_name}} - {{data.section_name}} <br/>
                </div>
                <div class='text-align-center' style='padding-top: 20px;padding-bottom: 20px;margin-top:20px'>
                    <b>Part-A (SCHOLASTIC)</b> <br />
                </div>
                <table class='table-border subject-list' style='width: 100%;'>
                    <tr style='font-weight: bold' class='td-font-size'>
                        <td>
                            SUBJECTS
                        </td>
                        {%for cumulative_type in student.cumulative_id_type_mapping%}
                            <td>{{cumulative_type.col_name|upper}}</td>
                        {%endfor%}
                        <td>
                            WRITING MAXIMUM
                        </td>
                        <td>
                            WRITING OBTAINED
                        </td>
                        <td>
                            MAXIMUM MARKS
                        </td>
                        <td>
                            TOTAL
                        </td>
                        <td>
                            GRADE
                        </td>
                    </tr>
                    {% for subject_data in student.subject_list_data %}
                        {%if subject_data.subject_part_type_code_name ==  'part1'%}
                            <tr class='td-font-size'>
                                <td>{{subject_data.subject_name|capfirst}}</td>
                                {%for cumulative_type in subject_data.cumulative_mark_data_for_marks_card%}
                                    <td style='text-align:center'>{{cumulative_type.mark}}</td>
                                {%endfor%}
                                <td>{{subject_data.max_marks}}</td>
                                <td> {%if subject_data.attendance_status == 'Absent' %}
                                    AB
                                {% else %}
                                    {{subject_data.marks}}
                                {%endif%}
                                </td>
                                <td>{{subject_data.total_max_marks}}</td>
                                <td>{{subject_data.total_obtained_marks}}</td>
                                <td>{{subject_data.grade}}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                        <tr style='font-weight: bold' class='td-font-size'>
                            <td style='font-size: 13px'>TOTAL MARKS</td>
                            {%for cumulative_id_type_mapping_total in student.cumulative_id_type_mapping_total%}
                                    <td style='text-align:center'> 
                                        {{cumulative_id_type_mapping_total.total_obtained_mark}}
                                    </td>
                            {%endfor%}
                            <td>{{student.part_type_data_code_wise.part1.total_written_marks}}</td>
                            <td>{{student.part_type_data_code_wise.part1.total_written_obtained_marks}}</td>
                            <td>{{student.part_type_data_code_wise.part1.total_marks}}</td>
                            <td>{{student.part_type_data_code_wise.part1.total_obtained_marks}}</td>
                            <td>{{student.part_type_data_code_wise.part1.grade}}</td>
                        </tr>
                </table>

                <table style='width:100%;margin-top:10px;border:0px'>
                    <tr>
                        <td style='border: 0px solid black;font-weight: bold'>
                            TOTAL MARKS IN WORDS : {{student.part_type_data_code_wise.part1.total_obtained_marks_in_word|upper}}
                        </td>
                        <td style='border: 0px solid black;font-weight: bold'>
                            PERCENTAGE : {{student.part_type_data_code_wise.part1.percentage|floatformat:2}}%
                        </td>
                    </tr>
                </table>
            </div>
            {% if not forloop.last %}
                <div style="page-break-after: always;"></div>
            {% endif %}
        {% endfor %}
        <br/>
        <br/>
        <footer> This marks sheet is auto-generated hence seal and signature is not required</footer>
    </body>
</html>
