{% load humanize %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fees Receipt</title>
    <style>
        @page { size: A5 ;
            margin: 2mm;
        }
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th,
        td {
            padding: 5px;
            text-align: left;
        }
        .feereceipt-box{
            border: 1px solid #000000 !important;
            padding: 5px 7px;
            display: inline-block;
        }
        .noborder{
            border: 0px solid;
        }
        .bold{
            font-weight: bold
        }
        .line-height{
            line-height: 1.5;
        }
        .text-center{
            text-align:center;
        }
    </style>
</head>
<div style='border: 1px solid;padding:20px;margin:10px'>
        <div style='display:flex;width:100%'>
            <div style="position:absolute">
                {% if institute.logo.file.url %}
                    <img src={{ institute.logo.file.url }}
                    style="width: 80px;height: 80px;"/>
                {% endif %}
            </div>
            <div style="text-align: center;margin-left:auto;margin-right:auto">
                <div style="font-size: 15px;padding-left:20px;font-weight: bold;">
                    {{institute.trust_name}}
                </div>
                <div style="font-size: 35px;padding-left:20px;font-weight: bold;margin-top:5px">
                    {{institute.name}}
                </div>
                    
                <div style='font-size: 18px;font-weight: bold;margin-top:5px'>Recognized by Govt of Karnataka</div>
                <div style="line-height: 20px;font-size:14px;margin-top:5px">
                    {{ institute.address }}{% if institute.city %}, {{ institute.city }}{% endif %}
                    {% if institute.pincode %} - {{ institute.pincode }}{% endif %} </br>
                </div>
            </div>
        </div>
        <div style="font-size: 18px;font-weight: bold;text-decoration:underline;margin-top:15px;text-align: center;">
                    RECEIPT </br></div>
    <table class='noborder' style="width: 100%">
        <tr class='noborder'>
            <td class='noborder bold line-height' style='width:70%;vertical-align:top'> 
                Student   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :&nbsp;&nbsp;
                {% if application_receipt.student.first_name %}{{application_receipt.student.first_name}}
                        {% endif %}{% if application_receipt.student.middle_name %}
                        {{application_receipt.student.middle_name}}{% endif %}{% if application_receipt.student.last_name%}
                        {{application_receipt.student.last_name }}{% endif %}
                <br/>
                Class : &nbsp;
                {% if application_receipt.student.current_standard.name %}
                        {{application_receipt.student.current_standard.name}}{% endif %}
                <td class="noborder bold line-height">
                Bill No : &nbsp;&nbsp;{% if application_receipt.receipt_num %}{{application_receipt.receipt_num|title}}{% endif %}<br/>
                Date &nbsp;&nbsp;&nbsp;&nbsp;:  &nbsp;&nbsp;{% if application_receipt.transaction_date %}{{application_receipt.transaction_date | date:"d/m/Y"}}
                {% endif %} <br/>
                </td>
            </td>
        </tr>
    </table>
    <table style="width: 100%;min-height:210px">
        <thead>
            <tr>
                <th width='10%'>Sl.No</th>
                <th width='70%'>Fee Type</th>
                <th width:'20%' style="text-align:right">Fee Paid</th>
            </tr>
        </thead>
        <tbody style='vertical-align:top'>
        <tr>
            <td>1.</br>
            </td>
            <td>{{ application_receipt.name }}</br>
            <td style='text-align:right'>{{ application_receipt.amount_paid  | floatformat:2}}</br></td>
        </tr>
        <tr style='height:30px'>
             <td colspan="2" style='text-align:right'>Total Paid &nbsp; : &nbsp;</td>
             <td style='text-align:right'>  ₹ {{ application_receipt.amount_paid  | floatformat:2}}</td>
        </tr>
        </tbody>
    </table>
    <table style="width: 100%;margin-top: 10px" class="noborder" colspan="2">
        <tr class="noborder">
            <td class="noborder">
            Received Rupees {{ amount_in_words|title }} Only.<br/>
        </td>
        <tr>
    </table>
    <table style="width:100%;margin-top:50px" class="noborder">
    <td style="text-align:right;" class="noborder"> Signature </td>
    </table>
</div>
</html>