<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Application Receipt</title>
    <style>
        @page {
            size: A4
        }

        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 5px;
            text-align: left;
        }

        .feereceipt-box {
            border: 1px solid #000000 !important;
            padding: 5px 7px;
            display: inline-block;
        }
    </style>
</head>

<body>
    <div>
        <div style="text-align:right;margin-bottom: 10px">Student Copy</div>
        <table style="width:100%">
            <tr>
                {% if institute.logo %}
                <td style="text-align:center;width: 100px;">
                    <img src={{ institute.logo.file.url }} style="width: 100px;height: auto;" />
                </td>
                <td style="text-align:center;padding: 8px;">
                    {% else %}
                <td colspan="2" style="text-align:center;padding: 8px;">
                    {% endif %}
                    {% if institute.trust_name %}
                    <span>{{ institute.trust_name }}</span>
                    {% endif %}
                    <div style="font-size: 20px;font-weight: bold;">
                        {{ institute.name }}</br>
                    </div>
                    <div style="line-height: 25px;">
                        {{ institute.address }}{% if institute.city %}, {{ institute.city }}{% endif %}
                        {% if institute.pincode %} - {{ institute.pincode }}{% endif %} </br>
                        {% if institute.tel_num %}Cell: {{ institute.tel_num }}, {% if institute.tel_num_2 %} {{ institute.tel_num_2 }}, {% endif %}{% endif %}
                        {% if institute.email %}Email: {{ institute.email }} {% endif %}</br>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;width: 100px;">
                    <div class="feereceipt-box">
                        FEE RECEIPT
                    </div>
                </td>
            </tr>
        </table>
        </br>
        <h3><u>
                <center>Student Details</center>
            </u></h3>
        <table style="width: 100%">
            <thead>
                <tr>
                    <th colspan="2" style="text-align:center;width:10%;">
                        <h3>Name: {% if application_receipt.student.first_name %}{{application_receipt.student.first_name}}
                            {% endif %}
                            {% if application_receipt.student.middle_name %} {{application_receipt.student.middle_name}}
                            {% endif %}
                            {% if application_receipt.student.last_name%} {{application_receipt.student.last_name }} 
                            {% endif %}
                        </h3>
                        </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width: 50%;">Application # : {% if application_receipt.student.application_num %}
                        {{application_receipt.student.application_num}}{% endif %}
                    </td>
                    <td style="width: 50%;">Mobile # : {% if application_receipt.student.mobile_num %}{{application_receipt.student.mobile_num}}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td style="width: 50%;">Standard : {% if application_receipt.student.current_standard.name %}
                        {{application_receipt.student.current_standard.name}}{% endif %}
                    </td>
                    <td style="width: 50%;">Receipt No : {% if application_receipt.receipt_num %}{{application_receipt.receipt_num}}{% endif %}</td>
                </tr>
                <tr>
                    <td style="width: 50%;">Academic year : {% if application_receipt.student.entry_academic_year %}
                        {{application_receipt.student.entry_academic_year.start_date.year}} -
                        {{application_receipt.student.entry_academic_year.end_date.year}}{% endif %}
                    </td>
                    <td style="width: 50%;"> </td>
                </tr>
            </tbody>
        </table>
</body>

</html>