.address-loading{
    margin-right: auto;
    margin-left: auto;
    margin-top: 135px;
    margin-bottom: 30px;
}

.drop-down-skeleton-bulk {
    width: 90%;
    height: 20px !important;
    background-color: #74788c3b !important;
    // margin-top: 13px;
    border-radius: 3px;
  }