{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
  {{ block.super }}
  {% if change and original and original.pk %}
    <li>
      <a href="{% url 'admin:institutes_institute_upload_login_logo' original.pk %}" class="addlink">
        Upload login logo
      </a>
    </li>
    <li>
      <a href="{% url 'admin:institutes_institute_static_images' original.pk %}" class="addlink">
        Static images
      </a>
    </li>
  {% endif %}
{% endblock %}

