<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hallticket</title>
    <style>
        body{
            line-height: 1.2rem;
            font-weight: bold;
        }
        .t-center{
            text-align: center;
        }
        .w-100{
            width: 100%;
        }
        td{
            padding: 2px;
        }
        .th-subject-view{
           padding: 10px;
           text-align: center;
           border: 1px solid black;
        }
        .td-subject-view{
            text-align: center;
            border: 1px solid black;
        }
        .photo{
            border: 1px solid black;
            width: 150px;
            height: 150px;
            text-align: center;
        }
        @page {
            size: A4;
            padding:0;
            margin:10px;    
        }
        .fs-20{
            font-size: 20;
        }
        .fs-bold{
            font-weight: bold;
        }
        .padding-table{
            padding:4px;
        }
   
    </style>
</head>
<body>
    {% for student in student_list %}
    <div style="height: 500px;border:1px solid black;padding:1px;">
        <table class="w-100" style="border-collapse: collapse; width: 100%;">      
            <tr style="border:2px solid black">
              <td>
                <div style="display: flex; align-items: center;">
                  {% if institute.logo.file.url %}
                  <img src="{{institute.logo.file.url}}" style="width: 50px; height: 50px; margin-left:20px;" />
                  {% endif %}
                  <div style="text-align: center; flex-grow: 1;padding-left: -00px;;margin-left: -55px;;">
                    <div style="font-size: 18px; font-weight: bold; line-height: 20px;">
                        SRI SHARADA VIDYANIKETANA ENGLISH HIGH SCHOOL</br>
                    </div>
                    <div style="line-height: 16px; font-size: 13px;">
                        Nagawara -Thanisandra, Bangalore – 560 077                    </div>
                    <div class="address-heading t-center fs-bold">
                      {{ examDetail.exam_type.name | upper }}&nbsp;&nbsp;
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="address-heading t-center fs-bold" style="margin-left:40px;padding-left: 60px;">                    
                ADMISSION TICKET 
              </td>
            </tr>
          </table>
          
   <table style="width: 100%; border-collapse: collapse; font-size: 14px;">
    <tr>
        <td style="width: 40%; text-align: left;">
        <strong>Candidate's Name:</strong>
        {{ student.student_data.full_name | upper }}
        </td>

        <td style="width: 40%; text-align: left;">
        <strong>Class/Sec:</strong>
        {{ student.student_data.standard_section__standard__name | capfirst }} -
        {{ student.student_data.standard_section__section__name | capfirst }}
        </td>

        <td style="width: 20%; " rowspan="2">
        {% if student.student_data.profile_pic_details %}
            <img src="{{ student.student_data.profile_pic_details.file }}"
                style="height: 100px; width: 100px; border-radius: 13px; border: 2px solid #000;">
        {% endif %}
        </td>
    </tr>

    <tr>
        <td class="padding-table" style="text-align: left;">
        <strong>Register no:</strong>
        </td>
        <td></td>
    </tr>
    </table>
        <table class="text-center w-100" border="1" style="border-collapse: collapse;
        border: 1px solid black;margin-top:3px;font-size: 12px;line-height: 16px;padding:0px;">
            <tr>
                <th class="th-subject-view padding-table"> 
                    Date:</th>
                <th class="th-subject-view padding-table"> 
                    Timings:</th>
                <th class="th-subject-view padding-table"> 
                        Subject</th>
                <th class="th-subject-view padding-table">  
                    Invigilator Signature</th>
            </tr>
            {% for subject in student.subject_list %}
                <tr>
                    <td class="td-subject-view padding-table">
                        {{subject.fordate|date:'d-m-Y'}} 
                    </td>  
                    <td class="td-subject-view padding-table">
                         {{subject.start_time}} - {{subject.end_time}}
                    </td>
                    <td class="td-subject-view padding-table">
                        {{subject.subject_name | title}}</td>  
                    <td class="td-subject-view padding-table">            
                    </td>
                </tr>
            {% endfor %}
        </table>
        <!-- <br> -->
        <table style="padding-top:0.5px;padding-bottom: 0.5px;">
            <tr style="font-size:12px; padding:0px;margin-top:-30px;"><td style="padding:-5px;">Note:</td>
            <tr style="font-size:12px; padding:0px;">
            <td style="padding:0px;">1. Please stick to the Exam Pad no deviation is allowed.</td>
            </tr>
            <tr style="font-size:12px;padding:0px;">
            <td style="padding:0px;">2. If Govt. declare unexpected holiday that day's test will be postponed to last day.</td>
            </tr>
              <tr>
                <table class="w-100" style="margin-top:-20px;font-size: 12px;">
                <tr style="padding: 0px;">
                    <th style="text-align: left;">
                    </th>
                    <th style="text-align: right;">
                        <img src='https://production-edubricz.s3.ap-south-1.amazonaws.com/companies-images/svnenglishschool/svnprincipal.jpeg' style="width: 80px;height: 40px;"/>
                        &nbsp; &nbsp; &nbsp;
                    </th>
                </tr>
                <tr>
                    <th style="text-align: left;padding:0px;font-size: 12px;">
                        Class Teacher Signature 
                    </th>
                    <th style="text-align: right;padding:0px;font-size: 12px;">
                        Principal Signature &nbsp; &nbsp; 
                    </th>
                </tr>
            </table>
            </tr>
        </table>
    </div>
    <!-- <hr style="margin-top: -20px;"> -->
    {%  if forloop.counter|divisibleby:"2" %}
    <div style="page-break-after: always;"></div>
    {% else %}
    <div style="margin-top:33px;"></div>
    </br>
    {% endif %}
{% endfor %}
</body>
</html>
