{% load humanize %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fees Receipt</title>
    <style>
        @page { size: A4 }
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th,
        td {
            padding: 5px;
            text-align: left;
        }
        .feereceipt-box{
            border: 1px solid #000000 !important;
            padding: 5px 7px;
            display: inline-block;
        }
        .noborder{
            border: 0px solid;
        }
        .bold{
            font-weight: bold
        }
        .line-height{
            line-height: 1.5;
        }
        .text-center{
            text-align:center;
        }
        .page{
            margin: 30px 10px 0px 10px;
        }
    </style>
</head>
<body>
{% for count in number_of_copies %}
        <div class='page'>
            <table style="width:100%">
                <tr>
                    <td colspan="2" style="padding: 8px;">
                        <div style='display:flex;justify-content:center;padding-right:30px'>
                            <div style='text-align:center'>
                                <div style="font-size: 22px;font-weight: bold;">
                                    SRI MARUTHI ENTERPRISES
                                    </br>
                                </div>
                                <div style="line-height: 25px;font-size:14px">
                                    Prop. Smt N D Leelavathi</br>
                                    #380, 16th Cross, 2nd Main, 
                                    Agrahara Layout, Yelahanka, Bengaluru - 560064.
                                    Ph. No.: 9035844103
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <table style="width: 100%">
                <tr>
                    <td class='noborder bold line-height' style='width:60%;vertical-align:top'> {% if data.user_data.student %} Student Name : 
                        {{data.user_data.student.name}}
                        <br/>
                        Class :
                        {{data.user_data.student.current_standard_name}}
                        {%else%}{{data.user_data.staff.full_name}}{%endif%}
                    </td>
                    <td class='bold line-height'>
                        Date:  {{data.date}} <br/>
                        Rec No: {{data.order_num|title}} <br/>
                    </td>
                </tr>
            </table>
            <table style="width: 100%">
                <thead>
                <tr>
                    <th>Sl.No</th>
                    <th>Items</th>
                    <th>Unit Price</th>
                    <th>Quantity</th>
                    <th>Amount</th>
                </tr>
                </thead>
                <tbody>
                {% for payment_data in data.item_sold_details_item_sold %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{payment_data.item_name}}</td>
                        <td>{{payment_data.unit_price|floatformat|intcomma}}</td>
                        <td>{{payment_data.quantity}}
                        <td>{{payment_data.total|floatformat|intcomma }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan='6' style='font-weight:bold;line-height:1.5'>
                        TOTAL PAID AMOUNT : {{ data.total_amount_inc_gst | floatformat |intcomma}}/-  ( {{data.amount_in_words|title}} ) <br/>
                        Mode Of Payment : {% if data.mode_of_payment %}{{data.mode_of_payment}}{% endif %} 
                        {%if data.payment_reference_num %} Ref Num : {{data.payment_reference_num}} {%endif%}<br/>
                    </td>
                </tr>
                <tr>
                    <td style='padding-top:50px;vertical-align:bottom;border-right:0px' colspan='3'>
                        Thank You, Have A Nice Day
                    </td>
                    <td style='text-align:right;vertical-align:bottom;border-left:0px' colspan='3'>
                        AUTHORISED SIGNATURE
                    </td>
                </tr>
                </tbody>
            </table>
            <div style="display:flex">
                <div align="left">Receipt Generated at : {{ data.today }}</div>
                <div style='margin-left:auto'>Powered By Edubricz</div>
            </div>
            {% if not forloop.last %}
                <div style="page-break-after: always;"></div>
            {% endif %}
        </div>
{% endfor %}
</body>
