.standard-paper{
    background-color: #f3f3f3!important;
}
.section-paper{
    display: block!important;
}
.student-paper{
    display: block!important;
    max-height: 300px;
    overflow: auto;
}
.hall-ticket-print-button{
    background: linear-gradient(180deg, #ff5b5b 0%, #ff5b5b 100%) !important;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25) !important;
    color: white !important;
    text-transform: capitalize !important;
    font-size: 13px !important;
    margin: 10px 0px!important;
}
.hall-ticket-download-icon{
    font-size: 20px!important;
}
.hall-ticket-print-button-outer-box{
    text-align: end;
}
.hall-ticket-print-button-student-outer-box{
    text-align: center;    
}
.hall-ticket-print-student{
    background: linear-gradient(180deg, #ff5b5b 0%, #ff5b5b 100%) !important;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25) !important;
    color: white !important;
    text-transform: capitalize !important;
    font-size: 13px !important;
    margin: 10px 0px !important;
    padding: 0px 25px!important;
}
.studentList {
    margin-left: 20px;
    font-size: initial;
    width: 345px !important;
}

.dividerwidth {
    width: 250px !important;
}

.shortHeading {
    margin-bottom: 20px !important;
}

.marign-left-20 {
    margin-left: 20px !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.text-contents {
    display: flex;
}
