.thead-drawernew>th {
    padding: 10px;
    border: 1px solid gainsboro;
    background-color: #ABD8FF;
}

.download-file-name{
    align-self: center;
    margin-left: 10px;
    font-size: 15px;
    color: dodgerblue;
}